.header{

	&__banner{
		display: none;
		visibility: hidden;
		height: 4rem;
		font-size: 1.5rem;
		padding: 1rem 0;
		background-color: $primary-color;


		@media (min-width: 900px){
			display: block;
			visibility: visible;
		}

		a{
			text-decoration: none;
			color: #000;
		}

		&--tel{
			padding-right: 1.5rem;
		}

		&--icons{
			float: right;
			@mixin hide;

			@media (min-width: 700px){
				@mixin visible;
			}

			a{
				text-decoration: none;
				color: #000;
				display: inline-block;
				transition: all .6s;
				padding: 0 2rem;

				&:active,
				&:hover{
					transform: rotate(360deg) scale(1.2);
				}
			}
		}
	}
}