$primary-color: #fecb10;

$dark-yello-contact-form: #fdb41a;

$light-grey-choose: #f5f4ef;

$dark-grey-testimonials: #e3e3e3;

$nav-bar-bg: #222534;

$heading-light-black: #1a1c28;

$info-light-grey: #979797;
